.footer {
    color: black;
    position: fixed;
    top: 95%;
    left: 1%;
    text-align: left;
    width: 100%;
}


.intro {
    font-size: 200%;
}

.intro-right {
    position:relative;
    left:47%;
    text-align: left;
    font-size: 150%;
}

.title-slide{
    color: white;
}

