
.footer {
    color: black;
    position: fixed;
    top: 95%;
    left: 1%;
    text-align: left;
    width: 100%;
}


.intro {
    font-size: 200%;
}

.intro-right {
    position:relative;
    left:37%;
    text-align: left;
    font-size: 150%;
}

.title-slide{
    color: white;
}

blockquote {
  border-left: none;
  padding-left: 1em;
}

.twitter-tweet{
  background-image: url("../img/Twitter_Logo_Blue_25.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.resources {
  font-size: 150%;
  padding-bottom: 3em;
}

.header {
  text-align: center;
  font-size: 200% !important;
  padding-bottom: 1em;
}

.big{ /*Change made here*/
  font-size: 175% !important;
}