.footer {
    color: black;
    position: fixed;
    top: 95%;
    left: 1%;
    text-align: left;
    width: 100%;
}
.details {
    position: fixed;
    top: 5%;
    text-align: left;
    font-size: 175%;
}

.intro {
    font-size: 200%;
}

.intro-right {
    position:relative;
    left:40%;
    text-align: left;
    font-size: 150%;
}